.root {
    -primary-color: #FFF;
    -accent-color: firebrick;

    -sidebar-color: #F0F0F0;
    -topbar-color: #E5E5E5;

    -primary-text-color: black;
    -secondary-text-color: #606060;
    -tertiary-text-color: #A0A0A0;
    -primary-text-color-contrast: white;
    -play-button-color: white;
}